In [1]:
import numpy as np, pandas as pd
import seaborn as sns
from IPython.display import IFrame
%matplotlib inline

In [6]:
data_fname = "flight_data_2019-10/260232087_T_ONTIME_MARKETING_2019_10.csv"

df = pd.read_csv(data_fname)

In [7]:
df.head()

,YEAR,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_REACHED_DEST,DIV_ARR_DELAY,DIV_DISTANCE,DIV1_AIRPORT,Unnamed: 28
0,2019,2019-10-13,AS,N524VA,LAS,"Las Vegas, NV",NV,LAX,"Los Angeles, CA",CA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,2019-10-13,AS,N521VA,SEA,"Seattle, WA",WA,SNA,"Santa Ana, CA",CA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,2019-10-13,AS,N529VA,BUR,"Burbank, CA",CA,SEA,"Seattle, WA",WA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,2019-10-13,AS,N528VA,PDX,"Portland, OR",OR,PSP,"Palm Springs, CA",CA,...,0.0,0.0,29.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2019,2019-10-13,AS,N529VA,SEA,"Seattle, WA",WA,BUR,"Burbank, CA",CA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
readme_fname = "flight_data_2019-10/260232087_T_ONTIME_MARKETING_ReadMe.csv"

readme = pd.read_csv(readme_fname)

readme

,SYS_FIELD_NAME,FIELD_DESC,Unnamed: 2
0,YEAR,Year,NaN
1,FL_DATE,Flight Date (yyyymmdd),NaN
2,OP_UNIQUE_CARRIER,Unique Carrier Code. When the same code has be...,NaN
3,TAIL_NUM,Tail Number,NaN
4,ORIGIN,Origin Airport,NaN
5,ORIGIN_CITY_NAME,"Origin Airport, City Name",NaN
6,ORIGIN_STATE_ABR,"Origin Airport, State Code",NaN
7,DEST,Destination Airport,NaN
8,DEST_CITY_NAME,"Destination Airport, City Name",NaN
9,DEST_STATE_ABR,"Destination Airport, State Code",NaN
10,DEP_DELAY,Difference in minutes between scheduled and ac...,NaN
11,TAXI_OUT,"Taxi Out Time, in Minutes",NaN
12,TAXI_IN,"Taxi In Time, in Minutes",NaN
13,ARR_DELAY,Difference in minutes between scheduled and ac...,NaN
14,CANCELLED,Cancelled Flight Indicator (1=Yes),NaN
15,CANCELLATION_CODE,Specifies The Reason For Cancellation,NaN
16,DIVERTED,Diverted Flight Indicator (1=Yes),NaN
17,AIR_TIME,"Flight Time, in Minutes",NaN
18,DISTANCE,Distance between airports (miles),NaN
19,CARRIER_DELAY,"Carrier Delay, in Minutes",NaN
20,WEATHER_DELAY,"Weather Delay, in Minutes",NaN
21,NAS_DELAY,"National Air System Delay, in Minutes",NaN
22,SECURITY_DELAY,"Security Delay, in Minutes",NaN
23,LATE_AIRCRAFT_DELAY,"Late Aircraft Delay, in Minutes",NaN
24,DIV_REACHED_DEST,Diverted Flight Reaching Scheduled Destination...,NaN
25,DIV_ARR_DELAY,Difference in minutes between scheduled and ac...,NaN
26,DIV_DISTANCE,Distance between scheduled destination and fin...,NaN
27,DIV1_AIRPORT,Diverted Airport Code1,NaN

In [10]:
flight_id = "flight_data_2019-10/L_UNIQUE_CARRIERS.csv"

id_df = pd.read_csv(flight_id)

id_df

        Code                                        Description
0        02Q                                      Titan Airways
1        04Q                                 Tradewind Aviation
2        05Q                                Comlux Aviation, AG
3        06Q                      Master Top Linhas Aereas Ltd.
4        07Q                                Flair Airlines Ltd.
5        09Q  Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...
6        0BQ                                                DCA
7        0CQ                               ACM AIR CHARTER GmbH
8        0FQ               Maine Aviation Aircraft Charter, LLC
9        0GQ       Inter Island Airways, d/b/a Inter Island Air
10       0HQ            Polar Airlines de Mexico d/b/a Nova Air
11        0J                                         JetClub AG
12       0JQ                                    Vision Airlines
13       0LQ                                  Metropix UK, LLP.
14       0MQ              Multi-Aero, Inc. d/b/a Air Choice One
15       0OQ                                         Open Skies
16        0Q                                Flying Service N.V.
17       0QQ                             TAG Aviation (UK) Ltd.
18       0RQ                           TAG Aviation Espana S.L.
19       0TQ                                 Corporatejets, XXI
20       0UQ                                 Comlux Malta, Ltd.
21       0VQ                             Ocean Sky (UK) Limited
22       0WQ                                  Avjet Corporation
23       0YQ                                  Comlux Malta Ltd.
24       10Q                                Swiss Air Ambulance
25       12Q                                             Unijet
26       13Q                                Chartright Air Inc.
27       14Q                        London Air Services Limited
28       15Q                                      Air Alsie A/S
29       17Q                            Albinati Aeronautics SA
...      ...                                                ...
1641      YM                                Royal West Airlines
1642      YR  Grand Canyon Airlines, Inc. d/b/a Grand Canyon...
1643      YV                                 Mesa Airlines Inc.
1644      YX                                   Republic Airline
1645  YX (1)                              Midwest Airline, Inc.
1646      Z3   Bidzy Ta Hot Aana, Inc. d/b/a Tanana Air Service
1647  Z3 (1)                                            Promech
1648     Z3Q                                        PM Air, LLC
1649      ZA                                 Accessair Holdings
1650     ZAQ                               Zas Airline Of Egypt
1651      ZB                                   Monarch Airlines
1652      ZE                                 Eastar Jet Co Ltd.
1653  ZE (1)                               Lineas Aereas Azteca
1654     ZFZ                          Mcphillips Flying Service
1655     ZIA                                     Air New Mexico
1656      ZK                               Great Lakes Airlines
1657     ZKQ                               Zantop International
1658      ZL                                          Affretair
1659     ZMZ                        Winnipesaukee Aviation Inc.
1660      ZN                                  Key Airlines Inc.
1661      ZO                               Florida Express Inc.
1662      ZP                                     Air St. Thomas
1663      ZS                                 Hispaniola Airways
1664     ZUQ                                Zuliana De Aviacion
1665      ZV                                   Air Midwest Inc.
1666      ZW                        Air Wisconsin Airlines Corp
1667      ZX                                       Air Georgian
1668  ZX (1)                                         Airbc Ltd.
1669      ZY                             Atlantic Gulf Airlines
1670     ZYZ                               Skyway Aviation Inc.

[1671 rows x 2 columns]