In [2]:
import numpy, pandas, seaborn
%matplotlib inline

# Exercises

This notebook consists of different exercises based on the dataset and notebooks provided in this repository. I have written this assuming that you have stepped through the previous notebooks, but I assume we will learn more things as we step through these problems.

These problems are not arranged in any particular order, so take your pick:

- Let's:
    - create new column in our dataset which is the average fare (`fare`) normalized by the distance (`nsmiles`), i.e. norm_fare $ = \frac{fare}{nsmiles}$
    - write code that checks if this normalized fare has increased as a function of time (in years).
    - similar to the above, normalize the fare by the number of passengers (`passengers`) and check for evolution over time.
    - Fit a model to the data, where the dependent variable is either of the normalized fare and the independent variable is year. Choose your favorite model, or add other independent variables if you want.

_Solution_:

In [5]:
data = pandas.read_csv("final_dataset.csv")

data.head()

,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,nsmiles,passengers,fare,carrier_lg,carrier_lg_full_name,large_ms,fare_lg,carrier_low,carrier_low_full_name,lf_ms,fare_low,table_1_flag,Geocoded_City1,Geocoded_City2
0,2004,2,33851,34027,"Oklahoma City, OK","West Palm Beach/Palm Beach, FL",1197,10.87,242.51,DL,Delta Air Lines Inc.,0.51,235.98,DL,Delta Air Lines Inc.,0.51,235.98,0,"Oklahoma City, OK\n(35.468494, -97.521264)","West Palm Beach/Palm Beach, FL\n(33.90976, -98..."
1,2012,2,31454,30476,"Orlando, FL","Shreveport, LA",796,40.10,271.03,DL,Delta Air Lines Inc.,0.64,252.43,DL,Delta Air Lines Inc.,0.64,252.43,0,"Orlando, FL\n(28.538331, -81.378879)","Shreveport, LA\n(32.51424, -93.747757)"
2,2013,3,31267,32448,"Dayton, OH","Jackson/Vicksburg, MS",617,12.06,270.00,DL,Delta Air Lines Inc.,0.64,267.98,DL,Delta Air Lines Inc.,0.64,267.98,0,"Dayton, OH\n(39.760982, -84.192203)","Jackson/Vicksburg, MS\n(30.325968, -81.65676)"
3,1999,2,33360,30852,"Melbourne, FL","Washington, DC (Metropolitan Area)",796,90.54,180.30,DL,Delta Air Lines Inc.,0.96,177.83,DL,Delta Air Lines Inc.,0.96,177.83,0,"Melbourne, FL\n(28.079931, -80.603516)","Washington, DC (Metropolitan Area)\n(38.892062..."
4,2013,1,31871,32600,"Greenville/Spartanburg, SC","Little Rock, AR",569,10.77,300.34,DL,Delta Air Lines Inc.,0.68,292.30,DL,Delta Air Lines Inc.,0.68,292.30,0,"Greenville/Spartanburg, SC\n(44.513288, -88.01...","Little Rock, AR\n(34.748745, -92.275105)"

- Let's:
    - create a subset that has Pittsburgh, PA as an origin (`city1`) or destination (`city2`).
    - Make a histogram (distplot) for the average fares.
    - Find which airline carrier has the most low fares (`carrier_low` and `fare_low`) into and out of Pittsburgh.

- Let's
    - Create the same Pittsburgh, PA dataset as above.
    - Calculate the normalized fare (see above).
    - Check if prices into and out of Pittsburgh have been changing over time.
    - Fit a linear model to this evolution.
    - Determine average price for a ticket into or out of Pittsburgh in 2025.

- Let's:
    - find instances where the carrier with the largest marketshare (`carrier_lg`) is not the same as the carrier with the lowest fare (`carrier_low`) and the instances where it is. Do this by creating a new column, whose value is either 1 for the former case or 0 for the latter case.
    - See how this number evolves over time, i.e. plot it.
    - Optional: Fit a model to this evolution.